form(action="https://google.com/search").search
  input(type="hidden", name="q", value="site:rmurphey.com")
  input(type="text", name="q", placeholder="Search for...")
  input(type="submit", value="Search")
